.login
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 2000px;
    color:white;
    animation-name: fade;
    animation-duration: 500ms;
}
.login-logo img {

    width: 90%;
    max-width: 500px;
    max-height: 500px;
    height: 100%;
}
.login-right {
    background-color: #e4605e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding:20px;
    max-width: 500px;
    max-height: 500px;
    width: 90%;
    height: 90%;
    animation-name: fade;
    animation-duration: 500ms;
}
.login-right h1{
    font-family: "Robot Slab";
    font-size: 40px;
    margin-bottom: 20px;
}
.login-right h4 {
    font-family: "Robot Slab";
    font-size: 15px;
    font-weight: 300;
    margin-top: 40px;
    color: #e1e1e6;
}
.login-loginInputEmail{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #DCDCDC;
    border-radius: 5px;
    padding: 3px;
    height: 50px;
    margin-bottom: 5px ;
    width: 90%;
    max-width: 2000px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards; 
}
.login-loginInputEmail svg{
    margin-left: 10px;
    font-size: 25px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards; 
}
.login-loginInputEmail input{
    background: transparent;
    width: 100%;
    outline-width:0 ;
    color: #1C1C1C;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards; 
}
.login-loginInputPassword{
    display: flex;
    align-items: center;
    color: gray;
    background-color: #DCDCDC;
    border-radius: 5px;
    padding: 3px;
    height: 50px;
    width: 90%;
    max-width: 2000px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 350ms;
    animation-fill-mode: backwards; 
}
.login-loginInputPassword svg{
    margin-left: 10px;
    font-size: 25px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 350ms;
    animation-fill-mode: backwards; 
}
.login-loginInputPassword input{
    background: transparent;
    width: 100%;
    outline-width:0 ;
    color: #1C1C1C;
    border:none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 350ms;
    animation-fill-mode: backwards; 
}
.login-right button{
    width: 90%;
    background-color: #d07684 ;
    color: #1C1C1C;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline-width: 0;
    animation-name: move;
    animation-duration: 500ms;
    animation-delay: 450ms;
    animation-fill-mode: backwards; 
}
.login-right button:hover{
    background-color:#a51b0b;
    color:#EFF2F5;
    cursor: pointer;
}
.login-eye{
    cursor: pointer;
}
